body{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 #nav >#nav-bar{
    background-color: #232f3e;
    height: 70px;
    display: flex;
}
#nav-bar>div{
 
 display: flex;
 align-items: center;

}
#second>form>input{
    
    width: 33vw;
    height: 2.7vw;
    border: none;
   
}
#nav-bar > div>  h1>span{
    color:#db3e19;
}

#first{
    margin-left: 10px;
    color: white;
    cursor: pointer;
}
#second{
    margin-left: 70px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
#second > form{
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
    margin: 0 0 30px;
    background: #db3e19;
}
#second > form>input[type="search"]{
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
}
#second > form>button[type="submit"]{
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}
#second > form>button[type="submit"]:hover{
    opacity: 1;
}
#second > form>button[type="submit"]:focus,#second > form>input[type="search"]:focus{
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
    outline: none;
}
#top{
   
  
    text-align: right;
    margin-right: 20px;
}
#top >p>span{
    color: #db3e19;
}
#top >p{
    font-size: 14px;
}
#third{
    margin-left: 35px;
    width: 10%;
}
#third >img{
    width: 25px;
    color: white;
   margin-right: 5px;
   cursor: pointer;
}
#third>p{
    color: white;
    font-size: 14px;
}
#four{
    margin-left: 20px;
    
}
#four>img{
    width: 25px;
    color: white;
   margin-right: 5px;
   cursor: pointer;
}
#four>p{
    color: white;
   font-size: 15px;
}
#five{
    margin-left: 30px;
}
#five>img{
    width: 25px;
    color: white;
   margin-right: 5px;
   cursor: pointer;
}
#five>p{
    color: white;
   font-size: 13px;
}
#six{
    margin-left: 28px;
}
#six>img{
    width: 25px;
    color: white;
   margin-right: 5px;
   cursor: pointer;
}
#six>p{
    color: white;
   font-size: 13px;
  
   
}


#container{
display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(3,1fr);
row-gap: 30px;
margin-top: 30px;
}
#container>div{
width: 400px;
}
#container>div >img{
width: 100%;
}
#container>div >p{
font-size: 15px;
padding-top: 5px;
}
.button{

border: none;
background-color: #db3e19;
color: white;
width: 8vw;
height: 2.5vw;
cursor: pointer;
font-size: 13px;
margin-bottom: 10px;
margin-top: 10px;

}
.new{
border: 0.5px solid #db3e19;
background-color: white;
color:#db3e19 ;
width: 7vw;
height: 2.5vw;
cursor: pointer;
font-size: 13px;
margin-bottom: 10px;
margin-top: 10px;
margin-left: 15px;
}
#container>div >h3{
margin-top: 10px;
}